<a
  mat-raised-button
  color="warn"
  routerLink="/ciclo/cadastrar"
  class="button-add-doctor"
>
  Novo médico
</a>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Nome do médico</th>
      <th>CRM do médico</th>
      <th>Especialidade do médico</th>
      <th>Criado em</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let medico of medicos">
      <td>
        {{ medico._id }}
      </td>
      <td>
        {{ medico.nome }}
      </td>
      <td>
        {{ medico.crm }}
      </td>
      <td>
        {{ medico.especialidade }}
      </td>
      <td>
        {{ medico.criadoEm }}
      </td>
    </tr>
  </tbody>
</table>
